<div class="p-15">
    <div class="row">
        <button mat-flat-button color="primary" class="pull-right" routerLink="../user/0/userMgmt">Add new user</button>
    </div>
    <h4>Pending Users</h4>
    <mat-list-item *ngFor="let user of pendingUsers">
        <div matListItemTitle>{{user.userName}}</div>
        <button mat-button class="pull-right" (click)="updateUserStatus(user, true)">Approve</button>
    </mat-list-item>
    <mat-divider></mat-divider>
    <h4>Active Users</h4>
    <mat-list-item *ngFor="let user of activeUsers">
        <div matListItemTitle>{{user.userName}}</div>
        <button mat-button class="pull-right" (click)="updateUserStatus(user, false)">Deactivate</button>
    </mat-list-item>
</div>