<p *ngIf="authService.isAuthenticated; else anonymousHeader">
    <mat-toolbar class="desktop-toolbar" *ngIf="!(isMobile | async); else mobileToolbarTemplate">
        <span>Vaikhanasa</span>
        <span class="example-spacer"></span>
        <a mat-button routerLink="/home" routerLinkActive="active-link"
            [routerLinkActiveOptions]="{exact: true}">Home</a>
        <button mat-button routerLink="matrimony" routerLinkActive="active-link">Matrimony</button>
        <button mat-button *ngIf="isAdmin" [matMenuTriggerFor]="adminMenu" aria-label="header menu options">Admin
        </button>
        <button mat-fab extended color="primary">
            <mat-icon>account_circle</mat-icon>
            <span *ngIf="displayName; else userNameLoadingTemplate">{{displayName}}</span>
            <ng-template #userNameLoadingTemplate>...</ng-template>
        </button>
        <button mat-icon-button aria-label="Logout" (click)="logOut()">
            <mat-icon>logout</mat-icon>
        </button>
        <mat-menu #adminMenu="matMenu">
            <ng-template matMenuContent>
                <a mat-menu-item routerLink="users" routerLinkActive="active-link"> User Management </a>
            </ng-template>
        </mat-menu>
    </mat-toolbar>
</p>
<ng-template #anonymousHeader>
    <p>
        <mat-toolbar>
            <span>Vaikhanasa</span>
        </mat-toolbar>
    </p>
</ng-template>
<ng-template #mobileToolbarTemplate>
    <mat-toolbar>
        <span>Vaikhanasa</span>
        <span class="example-spacer"></span>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="header menu options">
            <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/home" routerLinkActive="active-link"
                [routerLinkActiveOptions]="{exact: true}">Home
            </button>
            <button mat-menu-item routerLink="matrimony" routerLinkActive="active-link"> Matrimony
            </button>
            <button *ngIf="isAdmin" mat-menu-item [matMenuTriggerFor]="adminMenu" aria-label="header menu options">
                <mat-icon>shield_lock</mat-icon>
                <span>Admin</span>
            </button>
            <button mat-menu-item>
                <mat-icon>account_circle</mat-icon>
                <span *ngIf="displayName; else userNameLoadingTemplate">{{displayName}}</span>
                <ng-template #userNameLoadingTemplate>...</ng-template>
            </button>
            <button mat-menu-item aria-label="Logout" (click)="logOut()">
                <mat-icon>logout</mat-icon>
                <span>Logout</span>
            </button>
        </mat-menu>

        <mat-menu #adminMenu="matMenu">
            <button mat-menu-item mat-menu-item routerLink="users" routerLinkActive="active-link">
                User Management
            </button>
        </mat-menu>

    </mat-toolbar>
</ng-template>