<div>
    <app-header></app-header>
    <div class="login-wrapper">
        <mat-card class="box">
            <form class="example-form" [formGroup]="loginForm" (submit)="login()">
                <mat-card-content>
                    <h2>Welcome to Vaikhanasa app!</h2>
                    <div class="creds-form-container">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Username" [formControl]="loginForm.controls.userName">
                            <mat-icon color="primary" matSuffix>person</mat-icon>
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Password" type="password"
                                [formControl]="loginForm.controls.password">
                            <mat-icon color="primary" matSuffix>lock</mat-icon>
                        </mat-form-field>
                        <mat-error *ngIf="loginForm.hasError('doesNotExist')">User name
                            does not exist</mat-error>
                        <mat-error *ngIf="loginForm.hasError('invalidPassword')">User name / Password
                            is incorrect</mat-error>
                    </div>
                </mat-card-content>
                <div class="actions-container">
                    <button mat-raised-button type="submit" color="primary" id="sign-in-button">Login</button>
                    <div class="jm">
                        <button mat-button (click)="initiateNewAccount()">Create new account</button>
                        <button mat-button (click)="forgotPassword()">Forgot password</button>
                    </div>
                    <div class="jm" *ngIf="loading">
                        <mat-spinner [diameter]="30"></mat-spinner>
                    </div>
                </div>
            </form>
        </mat-card>
    </div>
    <app-footer></app-footer>
</div>