<div class="main-container">
  <div class="data-container">
    <div class="form-container">
      <h3>Add member</h3>
      <label for="name">Name</label>
      <input type="text" [(ngModel)]="name" name="name" />
      <label for="name">Relationship status</label>
      <select [(ngModel)]="status">
        <option value="Single">Single</option>
        <option value="Married">Married</option>
      </select>
      <label>Address</label>
      <AutocompleteComponent (setAddress)="getAddress($event)" adressType="geocode"></AutocompleteComponent>
      <button (click)="addToMap()">Add</button>
    </div>
    <div class="grid-container">
      <ag-grid-angular style="width: 100%; height: 100%" class="ag-theme-alpine" [columnDefs]="columnDefs"
        [defaultColDef]="defaultColDef" [rowData]="rowData" [rowSelection]="'multiple'" [animateRows]="true"
        (gridReady)="onGridReady($event)"></ag-grid-angular>
    </div>
  </div>
  <div class="map-container">
    <div #map style="width:100%;height:100%"></div>
  </div>
</div>