<div class="p-15">
    <div class="ac g-15">
        <button mat-icon-button (click)="navigateBack()">
            <mat-icon>arrow_back</mat-icon>
        </button>
        <h3 style="margin: 0">Please provide the following information to create your account</h3>
    </div>
    <mat-stepper #stepper [orientation]="'vertical'">
        <mat-step [stepControl]="firstFormGroup" errorMessage="Missing/Invalid in information provided">
            <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>Fill out your personal info</ng-template>
                <div class="form-fields-container">
                    <mat-form-field>
                        <mat-label>First name</mat-label>
                        <input matInput formControlName="firstName" placeholder="First name" required>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Last name</mat-label>
                        <input matInput formControlName="lastName" placeholder="First name" required>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>DoB</mat-label>
                        <input matInput formControlName="dob" placeholder="dd/mm/yyyy" required>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Gender</mat-label>
                        <mat-select formControlName="gender" name="gender" required>
                            <mat-option *ngFor="let gender of genders"
                                [value]="gender.id">{{gender.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Gothram</mat-label>
                        <mat-select formControlName="clanId" name="clan" required>
                            <mat-option *ngFor="let clan of clans" [value]="clan.id">{{clan.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Relationship Status</mat-label>
                        <mat-select formControlName="relationShipStatus" name="relationShipStatus" required>
                            <mat-option *ngFor="let status of relationShipStatuses"
                                [value]="status.id">{{status.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup" errorMessage="Missing/Invalid in information provided">
            <form [formGroup]="secondFormGroup">
                <ng-template matStepLabel>Fill out your address</ng-template>
                <div class="form-fields-container">
                    <mat-form-field>
                        <mat-label>Address</mat-label>
                        <input matInput formControlName="lat" placeholder="Ex. 1 Main St, New York, NY" required>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Phone number</mat-label>
                        <input matInput formControlName="phoneNumber" required>
                    </mat-form-field>
                    <mat-form-field *ngIf="firstFormGroup.controls?.relationShipStatus?.value! === 1">
                        <mat-label>Contact Number for Matrimony</mat-label>
                        <input matInput formControlName="contactNumber" required>
                    </mat-form-field>
                </div>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="thirdFormGroup" errorMessage="Missing/Invalid in information provided">
            <form [formGroup]="thirdFormGroup">
                <ng-template matStepLabel>Login Info</ng-template>
                <div class="form-fields-container">
                    <mat-form-field>
                        <mat-label>Username</mat-label>
                        <input matInput formControlName="userName" placeholder="Used to login into the application"
                            required>
                        <mat-error *ngIf="thirdFormGroup.controls.userName.hasError('duplicateUser')">User name
                            already exists</mat-error>
                        <mat-icon *ngIf="thirdFormGroup.controls.userName.dirty 
                                    && !thirdFormGroup.controls.userName.pending 
                                    && thirdFormGroup.controls.userName.valid" matSuffix
                            style="color: green">check_circle</mat-icon>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Password</mat-label>
                        <input matInput formControlName="password" required>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Confirm Password</mat-label>
                        <input matInput formControlName="confirmPassword" required>
                    </mat-form-field>
                </div>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext (click)="saveUser()">Save</button>
                </div>
            </form>
        </mat-step>
    </mat-stepper>
</div>